*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #695238;
    font-family: arial,sans-serif;
    padding: 30px 15px;
}
body {
    background-color: #e6b366;
    max-width: 6000px;
    margin: 0 auto;
    padding: 40px;
    border: 10px solid #0f474579;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(8, 209, 159);


}
h1{
    color: #eb311085;
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 15px;
}
hr{
    border: none;
    border-top: 2px solid #dbe6e5;
    margin-bottom:20px  ;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    border-radius:  8px; 
    border: 1px solid #0f474579;
}
p {
  color: #334155;
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 0.95rem;
}

b {
  color: #1e3a8a;
}

ul {
  background-color: #1362b1b9;
  border-left: 4px solid #3b82f6;
  padding: 12px 15px 12px 35px;
  margin-bottom: 18px;
  border-radius: 0 6px 6px 0;
}

ul li {
  color: #475569;
  padding: 3px 0;
  font-size: 0.9rem;
}