*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #695238;
    font-family: arial,sans-serif;
    padding: 30px 15px;
}
body {
    background-color: #e6b366;
    max-width: 6000px;
    margin: 0 auto;
    padding: 40px;
    border: 10px solid #08070779;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(233, 179, 30);


}
h1{
    color: #eb311085;
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 20px;
    border-bottom: 2px dashed #a57731;
    padding-bottom: 10px;
}
h2{
    color: #080501;
    font-size: 1.9rem;
    margin-top: 20px;
    margin-bottom: 12px;
}
b{
    color: #f70505;
}
i{
    color: #f0eeec;
    font-size: 0.1.0rem;
}
u{
    text-decoration: none;
    color: #0a6dee;
}
strong{
    color: #09bb89da;
}
ul{
    list-style: none;
    margin-bottom: 15px;

}
ul,li{
    border-left:4px solid #000000f5 ;
    padding: 10px 12px;
    margin-bottom: 8px;
    border-radius: 0 6px 6px 0;

}
ol{
    margin-left: 20px;
    color: #000000f5;
}
ol, li {
    padding: 4px 0;
    line-height: 1.5;
}